<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.camel.dao.ItemsLinkItemMapper">
	<resultMap type="mecs.camel.model.Item" id="itemResultMap">
		<result column="IT_ID" property="itemId" />
		<result column="IT_NAME" property="itemName" />
		<result column="IT_UNIT" property="itemUnit" />
		<result column="IT_MEMO" property="itemMemo" />
		<result column="IT_CREATE_TIME" property="itemCtime" />
		<result column="IT_UPDATE_TIME" property="itemUtime" />
	</resultMap>


	<delete id="delItemLink">
		DELETE
		FROM
		T_ITEMS_ITEM_LINK
		WHERE
		IIL_IT_ID =
		#{id}
	</delete>

	<delete id="delItemsLink">
		DELETE
		FROM
		T_ITEMS_ITEM_LINK
		WHERE
		IIL_ITS_ID =
		#{id}
	</delete>

	<insert id="addItemsLink">
		INSERT INTO T_ITEMS_ITEM_LINK(IIL_ID,IIL_ITS_ID,IIL_IT_ID)
		SELECT SEQ_ITEMS_ITEM.NEXTVAL,#{id},M.*
		FROM(
		<foreach collection="itemList" item="itemId" index="index" separator="UNION ALL">
			(SELECT #{itemId} FROM DUAL)
		</foreach>
		)M
	</insert>
	<select id="getItemByItemsId" resultType="java.lang.String">
		SELECT IIL_IT_ID FROM T_ITEMS_ITEM_LINK WHERE IIL_ITS_ID =#{itemsId}
	</select>

	<select id="lookItemById" resultMap="itemResultMap">
		SELECT IT_ID,IT_NAME,IT_UNIT,IT_MEMO,IT_CREATE_TIME,IT_UPDATE_TIME FROM T_ITEM A
		INNER JOIN T_ITEMS_ITEM_LINK B ON A.IT_ID =B.IIL_IT_ID WHERE IIL_ITS_ID=#{itemsId}
	</select>

</mapper>
