<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.camel.dao.LogMapper">
                <!-- 插入管理员日志表 -->
         <insert id="addLog">
			   INSERT INTO 
			     T_MGRLOG (ML_ID,ML_AD_ID,ML_TYPE,ML_REMARK,ML_MEMO,ML_CREATE_TIME) 
			   VALUES 
			    (SEQ_MGRLOG.NEXTVAL,#{operId},#{operType},#{logRemark},NULL,SYSDATE)
		</insert>	
	
</mapper>