<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../3rd/layui/css/layui.css">
		<script src="../3rd/layui/layui.js"></script>
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin" style="width: 100%">
			<div class="layui-body" style="left: 30px;top: 5px;right: 30px;">
				<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;width: 100%;right: 30px;">
					<legend style="font-weight: bold;">修改密码</legend>
					<div style="text-align: center;">
						<div class="layui-inline">
							<label class="layui-form-label">原密码</label>
							<div class="layui-input-block">
								<input type="password" name="oldPswd" id="oldPswd" autocomplete="off" class="layui-input">
							</div>
						</div>
						<br />
						<br />
						<div class="layui-inline">
							<label class="layui-form-label">新密码</label>
							<div class="layui-input-block">
								<input type="password" name="newPswd" id="newPswd" autocomplete="off" class="layui-input">
							</div>
						</div>
						<br />
						<br />
						<div class="layui-inline">
							<label class="layui-form-label">确认新密码</label>
							<div class="layui-input-block">
								<input type="password" name="surePswd" id="surePswd" autocomplete="off" class="layui-input">
							</div>
						</div>
						<br />
						<br />
						<div class="layui-inline">
							<button onclick="changePsd()" class="layui-btn layuiadmin-btn-admin layui-btn-sm">
								<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 
								确认修改
							</button>
							<button class="layui-btn layui-btn-danger layuiadmin-btn-admin layui-btn-sm" onclick="clearInput()">
								<i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i> 
								清空输入
							</button>
							<br />
							<br />
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</body>

	<script src="../3rd/js/jquery.min.js"></script>
	<script src="../js/changePassword.js"></script>

</html>