<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8" >
<link rel="stylesheet" href="../3rd/layui/css/layui.css">
<script src="../3rd/admin/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body >
	<div class="layui-form-item layui-form-text">
    <textarea class="layui-textarea" id="result" style="display: none" name="article_desc" lay-verify="article_desc" >  
    </textarea>
    </div>

	<button class="layui-btn layui-btn-sm layui-inline " style="margin-left:37%;margin-top:-10px" onclick='submit()'>
		<i class="layui-icon layui-icon-upload layui-inline" > 提交</i>  
	</button>
	<button class="layui-btn layui-btn-sm layui-inline " style="margin-top:-10px" >
		<i class="layui-icon layui-icon-return layui-inline" onclick="back()" > 取消</i>  
	</button>
</body>
	<script src="../3rd/js/jquery.min.js"></script>
	<script src="../js/smallResult.js"></script>
	<script type="text/javascript"></script>
</html>